// Styling for the contact section
#contact {
  background-color: $dnd-grey;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  min-height: 100vh;
  @media (max-width: 575px) {
    padding: 101px 15px 15px 15px;
  }
  .section-heading {
    margin-top: 15px;
    color: $white;
  }
  .section-subheading {
    margin-bottom: 15px;
    @media (min-width: 768px) {
      margin-bottom: 30px;
    }
  }
  div[class^="col-"]{
    background-color: rgba($dnd-grey,0.68);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }
  .container{
    &:hover div[class^="col-"]{
      background-color: rgba($dnd-grey,0.88);
    }
    .row:nth-child(1) {
      margin-bottom: 1px;
    }
    .row:nth-child(2) {
      .col-md-6{
        padding: 15px;
        @media (min-width: 768px) {
          flex: 0 0 calc(50% - 0.5px);
          max-width: calc(50% - 0.5px);
        }
        @media (min-width: 768px) {
          &:first-of-type {
            margin-right: 1px;
          }
        }
      }
    }
    .row:nth-child(3) {
      margin-top: 1px;
    }
  }
  .dnd-contact-icon-container {
    display: inline-block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: $primary;
    position: relative;
    text-align: center;
    line-height: 36px;

    &:active,
    &:focus,
    &:hover {
      background-color: darken($primary, 7.5%);
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5);
    }

    .dnd-contact-icon {
      display: inline-block;
      vertical-align: middle;
      height: 21px;
      line-height: normal;
    }

    &:nth-child(1), &:nth-child(2) {
      margin-right: 15px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.dnd-facebook-icon,
    &.dnd-twitter-icon,
    &.dnd-instagram-icon {
      margin-right: 42px;
      > .dnd-contact-icon {
        margin-right: 0;
      }
    }
  }
  .text-muted:not(.section-subheading) {
    @media (min-width: 768px) {
      margin: 30px 0 65px 0;

      &:last-of-type {
        margin-bottom: 72px;
      }
    }
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 12px;
      color: $dnd-grey;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 150px;
    }
  }
  .form-control:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem rgba($primary,.25);
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
