// Styling for the contact section
#contact {
  background-color: $dnd-grey;
  // background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #6c757d;
  .section-heading {
    color: $white;
  }
  .section-subheading {
    margin-bottom: 15px;
    @media (min-width: 768px) {
      margin-bottom: 75px;
    }
  }
  div[class^="col-"]{
    background-color: rgba($dnd-grey,0.64);
  }
  .dnd-contact-icon-link {
    display: inline-block;
    &:nth-child(1), &:nth-child(2) {
      > .dnd-contact-icon {
        margin-right: 20px;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
    &.dnd-facebook-icon,
    &.dnd-twitter-icon,
    &.dnd-instagram-icon {
      margin-right: 42px;
      > .dnd-contact-icon {
        margin-right: 0;
      }
    }
  }
  .dnd-contact-icon-link,.dnd-contact-icon {
    vertical-align: middle;
    height: 42px;
  }
  .text-muted {
    @media (min-width: 768px) {
      margin: 30px 0 65px 0;

      &:last-of-type {
        margin-bottom: 72px;
      }
    }
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 12px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 150px;
    }
  }
  .form-control:focus {
    border-color: $primary !important;
    box-shadow: 0 0 0 0.2rem rgba($primary,.25);
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
