// Styling for the navbar
.dnd-nav {
  background-color: transparent;

  &.dnd-nav-is-showing {
    background-color: $dnd-grey;

    .navbar-toggler img {
      width: 27px;
      height: 27px;
      transform: rotate(45deg);
    }
  }

  .navbar-toggler {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    right: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: transparent !important;
    @include heading-font;

    &:focus {
      &, img {
        outline: 0;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
  
  .navbar-brand {
    color: $primary;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
    img {
      height: 3em;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }

@media(min-width:992px) {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color:$dnd-grey;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }

}

.dnd-nav-background {
  position: fixed;
  z-index: 3;
  top: 0;
  display: block;
  height: 86px;
  width: 100vw;
  background-color: $dnd-grey;

  @media(min-width: 768px) {
    height: 110px;
  }
}